*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
@mixin name() {
    margin: 0 0.8rem;
    &:hover path{
        fill: cyan;
    }
}
@mixin any() {
    margin: 0 0.8rem;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
%lol{
    margin: 1rem 0;
}
%lols{
    margin: 0.5rem;
}
%btn{
    text-decoration: underline;
    cursor: pointer;
}
#desktop>img{
    @extend %lols
}
#mobile>img{
    @extend %lol;
}
#about:hover{
    @extend %btn
}
#career:hover{
    @extend %btn
}
#events:hover{
    @extend %btn
}
#products:hover{
    @extend %btn
}
#support:hover{
    @extend %btn
}
#hidden1:hover{
    @extend %btn
}
#hidden2:hover{
    @extend %btn
}
#hidden3:hover{
    @extend %btn
}
#hidden4:hover{
    @extend %btn
}
#hidden5:hover{
    @extend %btn
}
.careerWrap>p{
    @include any()
}